<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://alexaskillazurefunction3.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/c135b3fa-7ea4-4c05-a2fc-06e3bf20911e/resourcegroups/AlexaSkillResources/providers/Microsoft.Web/sites/AlexaSkillAzureFunction3</ResourceId>
    <UserName>$AlexaSkillAzureFunction3</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://alexaskillazurefunction3.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>